table,
.table {

  $block-name:                &; // #{$block-name}__element

  border-collapse: collapse;
  width: 100%;
  border: 1px solid $border-color;
  margin: 2em 0;

  caption {
    padding-bottom: 1em;
    text-align: initial;
    caption-side: top;
    font-size: $font-size;
    font-weight: 700;
    line-height: 1em;
    color: $title-color;
  }

  td,
  th {
    padding: 6px 12px;
    vertical-align: top;
    word-break: keep-all;
    border-bottom: 1px solid $border-color;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  th {
    font-weight: 500;
    text-align: left;
  }
}
