.breadcrumbs {
  padding-top: 48px;
  //margin-bottom: 25px;

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    //flex-wrap: wrap;
    align-items: center;
    overflow-x: auto;
  }


  &__item {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    margin-right: 12px;
    margin-bottom: 8px;
    white-space: nowrap;
    //overflow: hidden;
    //text-overflow: ellipsis;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:not(:last-child)::after {
      display: inline-flex;
      content: '\276F'; // U+276F, HTML-код &#10095; CSS-код  \276F - Прававя угловая скобка
      margin-left: 12px;
      font-size: 12px;
      font-weight: 700;
      color: $main-color;
    }

    &:first-child {

      #{$block-name}__link {

        svg {
          transform: translateY(-1px);
        }
      }
    }

    &:last-child {

      #{$block-name}__link {
        text-decoration: none;
        color: $text-muted;
      }
    }
  }

  &__link {
    display: inline-flex;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: $link-color;
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: $link-color--hover;
      text-decoration: underline;
    }
  }
}
