.award-card {

  $block-name:                &; // #{$block-name}__element

  border-radius: $border-radius-lg;

  img {
    object-fit: cover;
    object-position: center;
    transition: transform $transition-time;
  }

  &:hover,
  &:focus {

    img {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }
}
