.article {

  $block-name:                &; // #{$block-name}__element

  &__col-main {
    @include col(xs, 12);
    @include col(md, 10);
    @include col(xl, 8);
  }

  &__col-aside {
    @include col(xs, 12);
    //@include col(md, 12);
    @include col(xl, 4);
  }

  &__col-gallery {
    @include col(xs, 12);
  }

  &__title {
    margin-top: 0;
  }

  &__introtext {
    font-size: $font-size-lg;
    color: $title-color;
  }

  &__main-img-wrapper {
    padding: 48px 0;
    margin: 24px 0;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
  }

  &__main-img {
    background-color: $block-bg;
    border-radius: $border-radius-lg;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__main-text {

    & > h1, h2, h3, h4, h5, h6 {

      &:first-of-type {
        margin-top: 0;
      }
    }

    & > p img {
      display: block;
      width: 100%;
      margin: 24px 0;
      border-radius: $border-radius-lg;
    }
  }
}
