.field-text {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 24px;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 56px;
    padding: $field-padding-vertical $field-padding-horizontal;
    margin: 0;
    line-height: $line-height;
    font-size: $font-size;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    appearance: textfield;

    &:focus {
      @include field-focus;
    }

    &--required {
      padding-right: 44px;
      background-repeat: no-repeat;
      background-position: top 24px right 24px;
      background-size: 8px;
      background-image: svg-load('../blocks/sprite-svg/svg/asterisk.svg', fill=$main-color);
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-100;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: $text-muted;
      opacity: 1;
    }

    @at-root textarea#{&} {
      $textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);

      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
