.countdown {
  display: inline-flex;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: $title-color;

  $block-name:                &; // #{$block-name}__element

  &__inner {
    display: flex;
    align-items: center;

    &.hidden {
      display: none;
    }
  }

  &__number {

    &::after {
      display: inline-block;
      vertical-align: baseline;
      content: attr(data-divider);
      margin-right: 4px;
      margin-left: 0;
      font-size: inherit;
      font-weight: inherit;
    }
  }

  &__deadline-message {
    display: none;
    width: 100%;
    padding: 8px 0;
    font-size: inherit;
    font-weight: 700;
    color: $color-danger;
    //background-color: $white;
    //border-radius: $border-radius;

    &.visible {
      display: inline-block;
      vertical-align: baseline;
    }
  }
}
