.event-sidebar {
  padding: 24px 16px;
  background-color: $block-bg;
  border-radius: $border-radius-lg;
  border: 1px solid $border-color;

  @media (min-width: $screen-xl) {
    position: sticky;
    top: 20px;
    padding: 24px;
  }

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin: 0 0 24px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    //justify-content: space-between;
    gap: 0 24px;

    #{$block-name}__item {
      flex: 1 1 100%;

      @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
        flex: 0 1;
        flex-basis: calc(50% - 24px / 2);
      }
    }
  }

  &__item {
    margin-bottom: 16px;

    p {
      margin: 0;
      font-size: 18px;
    }

    // p + p {
    //   margin-top: 2px;
    // }
  }

  &__caption {
    margin: 0 0 4px;
    font-size: $font-size;
    font-weight: 500;
    text-transform: none;
    color: $main-color;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 8px;
  }
}
