.to-top {

  $block-name:                &; // #{$block-name}__element

  position: fixed;
  right: 16px;
  bottom: 24px;
  z-index: 10;
  width: 56px;
  height: 56px;
  color: transparent;
  background-color: rgba($secondary-color, 0.8);
  font: 0/0 a;
  background-size: 30px;
  background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$white);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid $white;
  border-radius: $border-radius;
  transform: rotate(180deg);

  @media (min-width: $screen-md) {
    right: 40px;
    bottom: 120px;
  }

  @media (min-width: $screen-xl) {
    right: 40px;
    bottom: 80px;
  }

  @media (min-width: $screen-xxl) {
    bottom: 40px;
  }

  .js & {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

