.field-checkbox {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 24px;

  &__title {
    display: block;
    margin-bottom: 16px;
    line-height: $line-height;
    font-weight: 500;
    color: $title-color;
  }

  &__input-wrap {
    //margin-right: 0;
    margin-bottom: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding: 8px 8px 8px 36px;
    //margin-right: 0.6em;
    font-weight: 500;
    font-size: $font-size;
    line-height: $line-height;
    cursor: pointer;

    &:hover {

      #{$block-name}__name-text {
        color: $link-color--hover;
      }
    }
  }

  &__name-text {
    color: $text-color;

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 24px;
      height: 24px;
      border: 1px solid $main-color;
      border-radius: $border-radius / 2;

      @at-root input:checked ~ & {
        background-color: $main-color;
      }
    }

    @at-root input:focus ~ &::before {
      @include field-focus;
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(8px + 8px);
      left: 6px;
      width: 12px;
      height: 6px;
      opacity: 0;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      transform: rotate(-45deg);
      transition: opacity $transition-time;

      @at-root input:checked ~ & {
        opacity: 1;
        border-color: $white;
      }
    }
  }

  &__input {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своего чекбокса
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
